use_default_settings: true

general:
  instance_name: "Scrape Search"
  debug: false
  privacypolicy_url: false
  donation_url: false
  contact_url: false
  enable_metrics: false

search:
  safe_search: 0
  autocomplete: ""
  default_lang: "en"
  formats:
    - html
    - json

server:
  secret_key: "change-this-secret-key-in-production"
  limiter: false
  image_proxy: false
  method: "GET"

ui:
  static_use_hash: true
  default_theme: simple
  results_on_new_tab: false
  theme_args:
    simple_style: dark

outgoing:
  request_timeout: 10.0
  max_request_timeout: 15.0
  useragent_suffix: ""
  pool_connections: 100
  pool_maxsize: 20

engines:
  - name: duckduckgo
    engine: duckduckgo
    shortcut: ddg
    disabled: false

  - name: brave
    engine: brave
    shortcut: br
    disabled: false

  - name: qwant
    engine: qwant
    shortcut: qw
    disabled: false
    categories: general

  - name: wikipedia
    engine: wikipedia
    shortcut: wp
    disabled: false

  - name: wikidata
    engine: wikidata
    shortcut: wd
    disabled: true

  - name: google
    engine: google
    shortcut: g
    disabled: true  # Often rate-limited

  - name: bing
    engine: bing
    shortcut: bi
    disabled: true  # Often rate-limited
